COMPOSE_PROJECT_NAME=sysio-api
PS1="\\e[0;32m[$COMPOSE_PROJECT_NAME][\$PS1_SRV_NAME][$(date +%H:%M:%S)] \\u@\\w \\$ \\e[m"

PHP_VER=8.2.5

APP_DIR=./..
APP_DIR_MAP=/app

APP_USER=app
APP_UID=1000
APP_GID=1000

APP_TIMEZONE=UTC
APP_ENV=dev
APP_DEBUG=1

HTTP_PORT_NGINX_FPM=22080

